/* common color */
$color-white: #fff;
$color-black: #000;
$color-red: #f00;

/* width */
$min-width-desktop: 1440px;
$min-width-laptop: 1024px;
//TODO: 반응형 width 기준값 설정
$min-width-tablet: 768px;
//$width-mobile: 1440px;

/* font color */


/* Achromatic border, background color */


/* box-shadow */
$object-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);
