/* common color */
$color-white: #fff;
$color-black: #000;
$color-red: #f00;

/* main color */
$increase-color: #2657dc;
$decrease-color: #fd1d1d;
$increase-sub-color: #16c784;

/* font color */
$text-main-black-color: #3f4248;
$text-sub-black-color: #787e89;
$text-main-gray-color: #afbbcf;
$text-dark-color: #393939;

/* Achromatic border, background color */
$border-white-color: #e5e9ed;
$border-white-sub-color: #e5ecef;
$border-gray-color: #e0e0e0;
$border-gray-sub-color: #dbddeb;
$table-header-background-color: #f4f4f4;
$home-gray-background-color: #f5f5f5;
$active-indicator-background-color: #f6f6f6;
$increase-background-color: #f8fafe;
$decrease-background-color: #fef7f7;
$buy-block-color: #ebeefa;
$sell-block-color: #fceff0;
$total-background-color: #f9fafc;

/* box-shadow */
$object-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);
