.teams-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
  border-bottom: 2px solid #e3e3e3;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .teams-introduce {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #282828;

    &-company {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      line-height: 34px;

      &-name {
        font-size: 32px;
      }

      &-location {
        font-size: 24px;
      }
    }

    &-description {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      white-space: pre-line;
    }
  }

  .teams-member-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 54px;
    grid-column-gap: 16px;
    padding: 72px 0;
    width: 100%;

    .member-card {
      display: flex;
      flex-direction: column;

      &-image {
        margin-bottom: 12px;
        width: 213px;
        height: 222px;
        border-radius: 16px;

        &-src {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        font-weight: 600;

        &-name {
          margin-bottom: 2px;
          font-size: 16px;
          line-height: 24px;
          color: #282828;
        }

        &-position {
          font-size: 12px;
          line-height: 18px;
          color: #a8a8a8;
        }
      }
    }
  }
}
