header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 300ms;
  background-color: #fff;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    min-width: 1024px;
    height: 72px;
    margin: 0 auto;
    padding: 0 120px;

    .logo-wrapper {
      .logo-img {
        height: 26px;
        object-fit: contain;
        cursor: pointer;
      }
    }

    .btn-link-wrapper {
      display: flex;
      align-items: center;

      .link-btn {
        padding-bottom: 2px;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 36px;
        }
        &.selected{
          border-bottom: 2px solid #156BAF;
          font-weight: 500;
        }

      }

      .link-blue-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 145px;
        height: 48px;
        margin-left: 20px;
        background-color: #125488;
        border-radius: 8px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

}
