#Header{
  display: flex;
  align-items: center;
  height: 108px;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .logo-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin : 0 120px;
    .logo-wrapper{
      .logo-img{
        width: 120px;
        object-fit: contain;
      }
    }
    .btn-link-wrapper{
      display: flex;
      align-items: center;
      .link-btn{

        margin-left: 36px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        &.no-margin{
          margin-left: 0;
        }
      }
      .link-blue-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 145px;
        height: 48px;
        margin-left: 56px;
        background-color: #125488;
        border-radius: 8px;
        color:#ffffff;
        cursor: pointer;
      }
    }
  }

}
