.notice-news {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 120px;
  width: 100%;
  background-color: #f3f3f3;

  &-container {
    display: flex;
    flex-direction: column;
    width: 1024px;

    .notice-news-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 44px;
      width: 100%;

      &-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
      }

      &-more-btn {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: #707070;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .notice-card-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .notice-news-card {
        display: flex;
        flex-direction: column;
        width: 328px;
        cursor: pointer;

        &-image {
          margin-bottom: 10px;
          width: 100%;
          height: 232px;
          border-radius: 16px;
          filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.16));

          &-src {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-info {
          display: flex;
          flex-direction: column;
          padding: 18px;
          width: 100%;
          max-height: 146px;
          min-height: 146px;
          height: 146px;
          background-color: #f9f9f9;
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
          border-radius: 16px;

          &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            width: 100%;
            font-size: 10px;
            font-weight: 400;
            line-height: 20px;

            &-type {
              padding: 0 10px;
              background-color: #d9d9d9;
              border-radius: 10px;
            }
          }

          &-content {
            &-title {
              font-size: 16px;
              font-weight: 500;
              line-height: 26px;
              // white-space: nowrap;
              // text-overflow: ellipsis;
              // overflow-x: hidden;

              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }

            &-description {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
}
