#Main {
  padding: 110px 0 180px;
  background-color: #fff;
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-box-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-top: 0;
      .title {
        .row-wrapper {
          display: flex;
          justify-content: center;
          line-height: 60px;
          font-size: 56px;
          font-weight: 700;
          text-align: center;
          letter-spacing: -0.02em;

          .black-big {
            color: #282828;
          }
          .blue-big {
            background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .black-medium {
            font-size: 48px;
            font-weight: 700;
            color: #282828;
          }
          .blue-medium {
            font-size: 48px;
            font-weight: 700;
            background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &.line-height-96 {
            line-height: 96px;
          }
          &.line-height-60 {
            line-height: 60px;
          }
        }
      }
      .sub-title {
        margin: 24px 0 68px;
        .row-text {
          font-weight: 500;
          font-size: 24px;
          line-height: 34px;
          text-align: center;
          white-space: pre-line;
        }
      }
      .main-video {
        width: 784px;
        height: auto;
        border-radius: 10px;
      }
      .infographic-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 784px;
        height: 442px;
        margin-top: 78px;
        background-color: #d9d9d9;
        border-radius: 10px;
        font-size: 40px;
        font-weight: 700;
      }
      &.margin-top-160 {
        margin-top: 160px;
        .equilibrium-introduce {
          position: relative;
          margin-top: 12px;
          width: 900px;
          height: 307px;
          .equilibrium-introduce-background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 900px;
            object-fit: contain;
          }
          .equilibrium-introduce-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            padding: 48px 54px;
            height: 100%;
            .equilibrium-description-wrapper {
              color: #fff;
              line-height: 32px;

              .equilibrium-description {
                font-size: 24px;
                font-weight: 700;

                .highlight {
                  background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
                  -webkit-background-clip: text;
                  color: transparent;
                }
              }
            }
            .equilibrium-button {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 14px 29px;
              width: fit-content;
              color: #40abff;
              border: 1px solid #40abff;
              border-radius: 8px;
              background-color: transparent;
              cursor: pointer;
            }
          }
        }
      }
      &.margin-top-180 {
        margin-top: 180px;
        .title {
          font-size: 40px;
          font-weight: 700;
        }
        .sub-title {
          margin-top: 24px;
          font-size: 18px;
          font-weight: 500;
        }
        .btn-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 255px;
          height: 62px;
          margin-top: 64px;
          background-color: #125488;
          border: 1px solid #27465f;
          border-radius: 8px;
          color: #fff;
          cursor: pointer;
        }
      }
      &.eqhub {
        margin-top: 210px;
        width: 100%;

        .eqhub-header {
          margin-bottom: 68px;
          &-title {
            font-size: 40px;
            font-weight: 700;
            color: #000;
            text-align: center;
            line-height: 48px;

            &.highlight {
              background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
              -webkit-background-clip: text;
              color: transparent;
            }
          }
        }

        .eqhub-video {
          margin-bottom: 68px;
          width: 784px;
          height: auto;
          border-radius: 10px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

          &-src {
            width: 100%;
            border-radius: 10px;
          }
        }

        .eqhub-more-button {
          width: 145px;
          height: 47px;
          border-radius: 8px;
          color: #125488;
          font-weight: 500;
          border: 1px solid #125488;
          background-color: #fff;
          cursor: pointer;
        }
      }

      &.service {
        margin-top: 180px;

        .service-header {
          margin-bottom: 72px;
          .service-title-wrapper {
            margin-bottom: 24px;

            .service-title {
              font-size: 40px;
              font-weight: 700;
              text-align: center;
              color: #000;
              line-height: 48px;

              .highlight {
                background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
                -webkit-background-clip: text;
                color: transparent;
              }
            }
          }

          .service-sub-title {
            font-size: 18px;
            font-weight: 500;
            color: #000;
            text-align: center;
            line-height: 26px;
          }
        }
        .card-wrapper {
          display: flex;
          justify-content: space-between;
          width: 900px;
          margin-top: 140px;
          .card-img {
            object-fit: contain;

            &.whisper {
              width: 292px;
            }
            &.volare {
              width: 381px;
            }
            &.myFlex {
              width: 376px;
            }
            &.APND {
              width: 383px;
            }
          }
          .detail-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 428px;
            .blue-title {
              margin-bottom: 10px;
              line-height: 29px;
              font-size: 24px;
              font-weight: 700;
              background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
            .title {
              margin-bottom: 24px;
              line-height: 48px;
              font-size: 40px;
              font-weight: 700;
            }
            .description {
              font-size: 18px;
              font-weight: 400;
              line-height: 26px;
              color: #282828;
              white-space: pre-line;
            }
            .link-wrapper {
              margin-top: 54px;

              .sns-wrapper {
                display: flex;

                .sns-icon {
                  margin-right: 28px;
                  height: 36px;
                  object-fit: contain;
                  cursor: pointer;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }

              .download-wrapper {
                margin-top: 36px;
                display: flex;

                .download-icon {
                  margin-right: 10px;
                  width: 135px;
                  object-fit: contain;
                  cursor: pointer;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }

              .more-button {
                border: 1px solid #125488;
                color: #125488;
                padding: 14px 29px;
                border-radius: 8px;
                background-color: transparent;
                cursor: pointer;

                &:disabled {
                  cursor: default;
                }
              }
            }
          }
          &.reverse {
            flex-direction: row-reverse;
          }
          &.first {
            margin-top: 0;
          }
        }
      }
      &.solution {
        margin-top: 140px;
        padding: 100px 0 126px;
        width: 900px;
        background: linear-gradient(180deg, #fefefe 0%, #f3f3f3 100%);
        border-radius: 20px;
        .for-background {
          position: absolute;
          bottom: -134px;
          .background-img {
            width: 638px;
            object-fit: contain;
          }
        }
        .learn-more-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 145px;
          height: 48px;
          margin: 50px 0 80px;
          background-color: #fff;
          border: 1px solid #125488;
          border-radius: 8px;
          color: #125488;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background-color: #ececec;
          }
        }
        .explain-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          .top-img-wrapper {
            .explain-img {
              width: 460px;
              object-fit: contain;
            }
          }
        }
        .box-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 140px;
          .title {
            font-size: 28px;
            font-weight: 600;
            line-height: 34px;
            color: #282828;
            white-space: pre-line;
            text-align: center;
          }
          .sub-title {
            margin: 20px 0 40px;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            color: #282828;
            white-space: pre-line;
            text-align: center;
          }
          .img-wrapper {
            // margin-top: 40px;
            position: relative;
            width: 460px;
            height: 325px;
            .box-img {
              position: absolute;
              width: 460px;
              object-fit: contain;
            }
          }
        }
      }
      &.business {
        margin-top: 162px;
      }
    }
  }
  a {
    text-decoration: none;
    color: #000;
  }
}
