#Equilibrium {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 0 auto;

  .equilibrium-section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 130px;
    padding: 42px 0;

    .equilibrium-section1-text-wrapper {
      .equilibrium-section1-text-title-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        .equilibrium-section1-text-title{
          font-size: 72px;
          font-weight: 700;
          line-height: 80px;
        }
      }
      .equilibrium-section1-text-sub-title-wrapper {
        white-space: pre-wrap;
        .equilibrium-section1-text-sub-title{
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
    .equilibrium-section1-image {
      width: 420px;
      object-fit: contain;
    }
  }

  .equilibrium-section2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 140px;

  }

  .equilibrium-section3 {
    width: 100%;
    .equilibrium-section3-title{
      margin-bottom: 60px;
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      line-height: 48px;
    }

    .equilibrium-section3-card-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .equilibrium-section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;

    .equilibrium-section4-title {
      margin-bottom: 44px;
    }

    .equilibrium-section4-image {
      height: 72px;
      margin-bottom: 44px;
      object-fit: contain;
    }

    .equilibrium-section4-description {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #B1B1B1;
    }
  }

  .equilibrium-section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 190px;
    .equilibrium-section5-title-wrapper{
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      .equilibrium-section5-title{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
      }
    }

    .equilibrium-section5-sub-title-wrapper {
      margin-bottom: 64px;
      .equilibrium-section5-sub-title{
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #000000;
      }
    }

    .button-container {
      width: 255px;
      height: 62px;
    }
  }
}



.gradient-text {
  background: linear-gradient(266.17deg, #4AA8FF 46.86%, #6C69FB 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-info {
  display: flex;
  flex-direction: column;

  .gradient-info-data-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    .gradient-info-data{
      margin-right: 6px;
      font-weight: 700;
      font-size: 64px;
      line-height: 54px;
    }
    .gradient-info-unit{
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }

  }
  .gradient-info-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B1B1B1;
  }
}

.strength-of-eq-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 428px;

  .strength-of-eq-image {
    width: 192px;
    margin-bottom: 36px;
    object-fit: contain;
  }

  .strength-of-eq-text-wrapper {
    padding-top: 32px;

    .strength-of-eq-title {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #282828;

    }

    .strength-of-eq-sub-title {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #282828;
    }

    .strength-of-eq-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #B1B1B1;
    }
  }
}

.divide-line {
  width: 100%;
  height: 2px;
  background: linear-gradient(266.17deg, #4AA8FF 46.86%, #6C69FB 99.96%);
}