#EqHub {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
  padding-top: 43px;

  .eqhub-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;

    .eqhub-section1-text-wrapper {
      .eqhub-section1-text-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
      }

      .eqhub-section1-text-sub-title {
      }
    }

    .eqhub-section1-image {
      height: 344px;
      object-fit: contain;
    }
  }

  .eqhub-section2 {
    margin-bottom: 120px;

    .eqhub-section2-card-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .eqhub-section3 {
    position: relative;
    padding: 100px 0 46px;
    width: 900px;
    background: linear-gradient(180deg, #fefefe 0%, #f3f3f3 100%);
    border-radius: 20px;

    .for-background {
      position: absolute;
      bottom: -21px;
      left: 50%;
      transform: translateX(-50%);
      .background-img {
        width: 638px;
        object-fit: contain;
      }
    }

    .eqhub-section3-title {
      margin-bottom: 60px;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      line-height: 48px;

      &-row {
        .highlight {
          background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }

    .explain-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .top-img-wrapper {
        .explain-img {
          width: 460px;
          object-fit: contain;
        }
      }
    }
    .box-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 90px;

      .description {
        margin-bottom: 40px;
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
        text-align: center;
        color: #282828;
        white-space: pre-line;
      }

      .img-wrapper {
        // margin-top: 40px;
        position: relative;
        width: 460px;
        height: 325px;
        .box-img {
          position: absolute;
          width: 460px;
          object-fit: contain;
        }
      }
    }
  }

  .eqhub-section4 {
    margin-top: 190px;

    &-title {
      margin-bottom: 28px;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      line-height: 48px;
      color: #282828;

      &-row {
        &.highlight {
          background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }

    &-sub-title {
      font-size: 18px;
      font-weight: 400;
      color: #282828;
      text-align: center;
      line-height: 26px;
      white-space: pre-line;
    }

    .platform-card-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 117px;
      width: 900px;
      .platform-card {
        width: 290px;
        height: 411px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;

        &-image {
          position: relative;
          width: 100%;
          height: 220px;

          &-src {
            position: absolute;
            top: -37px;
            left: 50%;
            transform: translateX(-50%);
            width: 252px;
            object-fit: contain;
          }
        }

        &-content {
          display: flex;
          flex-direction: column;
          padding: 18px 20px;
          width: 100%;
          height: 190px;
          color: #000;
          border-top: 1px solid #f1f1f1;

          &-title {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 600;
          }

          &-description {
            font-size: 14px;
            font-weight: 400;
          }

          &-link {
            margin: 0 0 0 auto;
            color: #156baf;
            font-size: 14px;
            font-weight: 400;
            text-decoration: underline;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .eqhub-section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 242px;

    .eqhub-section5-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 64px;
    }
  }

  .eqhub-section6 {
    width: 100%;
    margin: 140px 0 210px;

    .eqhub-section6-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 64px;
    }

    .eqhub-section6-example-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .eqhub-section7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 190px;

    .eqhub-section7-title {
      margin-bottom: 24px;
    }

    .eqhub-section7-sub-title {
      margin-bottom: 64px;
    }

    .button-container {
      width: 255px;
      height: 62px;
    }
  }
}

////////////////////////////
.eqhub-section2-card {
  display: flex;
  flex-direction: column;

  .eqhub-section2-card-amount {
    margin-bottom: 6px;
  }
}

////////////////////////////

.eqhub-section5-tab {
  display: flex;

  .eqhub-section5-tab-toggle-container {
    margin-right: 10px;

    .eqhub-section5-tab-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      width: 458px;
      border-radius: 16px;
      background-color: #eeeeee;
      color: #000000;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &.selected {
        align-items: start;
        height: 120px;
        background-color: #292929;
        color: #ffffff;
      }

      .eqhub-section5-tab-toggle-left-wrapper {
        display: flex;
        align-items: center;

        &.selected {
          align-items: start;
        }

        .eqhub-section5-tab-toggle-icon {
          width: 32px;
          margin-right: 15px;
          object-fit: contain;
        }

        .eqhub-section5-tab-toggle-text-wrapper {
          width: 290px;

          &.selected {
            margin-top: 3px;
          }

          .eqhub-section5-tab-toggle-title {
            &.selected {
              margin-bottom: 12px;
            }
          }
        }
      }

      .eqhub-section5-tab-toggle-action-icon {
        width: 24px;
        object-fit: contain;
      }
    }
  }

  .eqhub-section5-tab-source-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 432px;
    height: auto;
    border-radius: 16px;
    background-color: #292929;
    .eqhub-section5-tab-source {
      width: 347px;
      object-fit: contain;
    }
  }
}

////////////////////////////
.eqhub-section6-card {
  .eqhub-section6-card-image {
    width: 276px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    object-fit: contain;
  }
}

////////////////////////////

.gradient-text {
  background: linear-gradient(266.17deg, #4aa8ff 46.86%, #6c69fb 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gray {
  color: #b1b1b1;
}

.text-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}

.text-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.text-64 {
  font-weight: 700;
  font-size: 64px;
  line-height: 54px;
}

.text-54 {
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
}

.text-40 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.text-20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.fs-18 {
  font-size: 18px;
  line-height: 26px;
}

.fs-16 {
  font-size: 16px;
  line-height: 26px;
}

.fs-14 {
  font-size: 14px;
  line-height: 20px;
}

.fw-400 {
  font-weight: normal;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}
